*{
    font-family: montserrat, sans-serif;
}





body{
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to right, red , yellow);
}

.container{
    text-align: center;
}

h1{
    font-size: 3em;
    margin-top: 70px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

p{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
}


img{
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 1; /* set z-index to 1 when hovering over mango */
}


img:hover{
    transform: scale(1.2);
}

#reset {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease;
    background-color: white;
  }


  #reset:hover{
    cursor: pointer;
    color: white;
    background-color: red;
    
  }



  #welcome {
    transition: opacity 1s ease-out;
    font-size: 2em;
    color: chartreuse;
  }
  .hidden {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  

  #sound {
    position: fixed;
    top: 5px;
    left: 7px;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    
  }


  #store {
    position: fixed;
    top: 5px;
    right: 7px;
    font-size: 2em;
    text-decoration: none;
    color: #ff0000;
    transition: 0.3s ease;
  }




  #store:hover{
    color: #fff;
  }

  #menu{
    position: fixed;
    top: 5px;
    left: 7px;
    font-size: 2em;
    text-decoration: none;
    color: #fff;

  }

  #menu-box {
    display: none;
    position: absolute;
    top: 10px;
    right: 190px;
    background-color: rgb(0, 0, 0);
    border: transparent;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    opacity: 0;
    animation: fade-in 0.5s ease forwards;
    transform-origin: right center;
    border-radius: 10px;
    
  }
  

  
  @keyframes fade-in {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

#menu-box a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: montserrat;
}

#menu:hover + #menu-box {
    display: block;
}



  
 